.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;
  .title {
    margin: 10px 0;
  }
  .restPassword {
    // position: absolute;
    // top:56.5%;
    color: #4285f4;
    cursor: pointer;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
